body {
  font-family: Arial, sans-serif;
  width: auto;
  background-color: white;
  height: auto;
}

.search-container {
  margin-left: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 30px;
  margin-top: 10px;
  width: 300px;
  text-align: left;
  padding: 20px;
  /* Added padding for better spacing */
}

.search-container input[type='search'],
.search-container input[type='text'],
.search-container input[type='number'],
.search-container input[type='select'] {
  padding: 10px;
  /* Adjusted padding for better consistency */
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  width: calc(100% - 40px);
  /* Adjusted width to accommodate padding */
  margin-bottom: 10px;
  /* Added margin bottom for better spacing */
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  height: 5px;
}

.search-container button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  /* Adjusted width to fit container */
  transition: background-color 0.3s;
}

.container {
  display: flex;
  justify-content: space-between;
}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  margin-bottom: 5px;
}

.field input[type='text'],
.field input[type='number'] {
  width: 150px;
  /* Adjust width as needed */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  height: 30px;
}
